<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pet Order 2</title>
</head>
<body>

<form action="order3" method="post">

    <!-- get food -->
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">What would you like to name your pet?</label>

        <div class="col-sm-4">
            <input class="form-control" type="text" name="name" id="name" >
        </div>
    </div>

    <!-- Pizza size -->
    <div class="col-xs-3 ">
        <input class="form-control btn btn-default"
               type="submit" value="Confirm pet">
    </div>
</form>

</body>
</html>